# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.idea
.vscode

# Python
.venv
__pycache__/
*.pyc
*.pyo
*.pyd

# Frontend
frontend/
node_modules/
dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
